h1 {
  font-size: 420px;
  font-weight: bolder;
  text-align: center;
  background-color: '#FF2020';
  color: '#FF2020';
}
h2 {
  font-size: 360px;
  font-weight: bolder;
  text-align: center;
  background-color: '#FF2020';
  color: '#FF2020';
}
